.button {
  position: relative;
  color: rgb(123, 110, 246);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  background-color: transparent;
  height: 24px;
  padding-left: 32px;
  cursor: pointer;
  align-self: flex-start;
}
.active {
  color: rgb(55, 216, 167);
}
