.menu-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.list-item {
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.circle-count {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(123, 110, 246);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.list-link {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;

  color: rgb(168, 174, 191);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.active {
  color: rgb(255, 255, 255);
}
