:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  box-sizing: border-box;
  margin: 0;
  background: rgb(18, 24, 41);
  color:  rgb(235, 238, 245);
}